.navBar {
    height: 100vh;
    width: 100%;
    max-width: 240px;
    background: rgb(28, 116, 232);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.navBar a {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    transition: transform 0.3s;
    text-decoration: none;
}
.navBar a:hover{
    transform: scale(1.1);
}

.loaderRing{
    position: relative;
    border-radius: 50px;
    animation: scaleLoader 0.3s linear 0s infinite alternate;
}
@keyframes scaleLoader {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.5);
    }
  }

.chatList Button {
  border: none;
  border-radius: 50px;
  width: 10px;
  height: 20px;
  background-color:rgb(10, 214, 250);
  margin: 5px auto 0 auto;
}  
 
.chatList::-webkit-scrollbar {
    width: 10px;
  }
  .chatList::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
  }
  .chatList::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(22, 150, 255);
  }

.chats {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 20px;
    color: white; 
}

.userChats {
    background: white;
    width: 80px;
    height: 34px;
    border-radius: 10px;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.userChats a {
  text-decoration: none;
}

.chatItems{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 40px;
  padding-top: 15px;
  box-sizing: border-box;
}
.messageItem{
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.chatDelete{
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(140%);
  cursor: pointer;
  margin-block-end: 0.4em;
  margin-top: 4px;
  margin-inline-start: 20px;
  position: relative;
}

.cross{
  position: absolute;
  font-size: 8px;
  padding-left: 12px;
}